<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cryptocurrency Prediction</title>
    <!-- Link your CSS file -->
    <link rel="stylesheet" href="C:\\Users\\a\\OneDrive - Ashesi University\\Cryptocurrency Prediction\\static\\main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Plotly.js or other charting libraries here if needed -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JavaScript for handling user input and making predictions -->
</head>

<body>
    <header>
        <div class="header-container">
            <img class="logo" src="{{ url_for('static', filename='images/main_logo1.png') }}" alt="Logo">
            <div class="dropdown">
                <button class="cryptocurrency-btn">CRYPTOCURRENCY</button>
                <div class="dropdown-content">
                    <a href="#bitcoin-section">Bitcoin</a>
                    <a href="#ethereum-section">Ethereum</a>
                    <a href="#litecoin-section">Litecoin</a>
                </div>
            </div>
        </div>
    </header>

    <main class="main-content">
        <div class="centered-content">
            <img class="centered-logo" src="{{ url_for('static', filename='images/main_logo.png') }}" alt="Logo">
            <p class="description">
                <span class="intro">Welcome to Cryptonomics</span><br><br>
        
                Cryptonomics opens the door to predicting cryptocurrency prices. With cutting-edge LSTM (Long Short-Term Memory) models, we forecast the prices of Bitcoin, Ethereum, and Litecoin. Our platform harnesses historical stock price data from Yahoo Finance, providing valuable insights into potential future trends.<br><br>
        
                <span class="disclaimer">Disclaimer:</span> Cryptonomics is dedicated to academic and informational purposes. The predictions and insights we provide are not intended as financial advice. We strongly recommend users conduct thorough research and seek guidance from financial experts before making any investment decisions based on the information provided.
            </p>
        </div>
        <section id="bitcoin-section" class="prediction-section">
            <div class="section-content">
                <div class="bitcoin-header">
                    <img class="bitcoin-logo" src="{{ url_for('static', filename='images/bitcoin-logo.png') }}" alt="Logo">
                    <h2>Bitcoin Prediction</h2>
                </div>
                <p class="small-text">Current Price: $ 36,950.50</p>
                <p class="small-text">Predict Price For Next:</p>
                <div class="button-container">
                    <button onclick="predictPrice('BTC')"> 30 Days</button>
                </div>
                <p id="predicted-price-btc" class="predicted-price">Predicted Price: $XXXX</p>
                <div id="graph-container-btc" class="graph-container-btc"></div>
                <p class="main-content">This model exhibits an MAE of 1217.7623294570415.<p>
            </div>
        </section>

        <section id="ethereum-section" class="prediction-section">
            <div class="section-content">
                <div class="bitcoin-header">
                    <img class="bitcoin-logo" src="{{ url_for('static', filename='images/ethereum-logo.png') }}" alt="Logo">
                    <h2>Ethereum Prediction</h2>
                </div>
                <p class="small-text">Current Price: $ 2,003.55</p>
                <p class="small-text">Predict Price For Next:</p>
                <div class="button-container">
                    <button onclick="predictPrice('ETH')"> 30 Days</button>
                </div>
                <p id="predicted-price-eth" class="predicted-price">Predicted Price: $XXXX</p>
                <div id="graph-container-eth" class="graph-container-eth"></div>
                <p class="main-content">This model exhibits an MAE of 54.67916230258802.<p>
            </div>
        </section>

        <section id="litecoin-section" class="prediction-section">
            <div class="section-content">
                <div class="bitcoin-header">
                    <img class="bitcoin-logo" src="{{ url_for('static', filename='images/litecoin-logo.png') }}" alt="Logo">
                    <h2>Litecoin Prediction</h2>
                </div>
                <p class="small-text">Current Price: $ 73.82 </p>
                <p class="small-text">Predict Price For Next:</p>
                <div class="button-container">
                    <button onclick="predictPrice('LTC')"> 30 Days</button>
                </div>
                <p id="predicted-price-ltc" class="predicted-price">Predicted Price: $XXXX</p>
                <div id="graph-container-ltc" class="graph-container-ltc"></div>
                <p class="main-content">This model exhibits an MAE of 4.4284072013579765.<p>
                
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <img class="footer-logo" src="{{ url_for('static', filename='images/main_logo1.png') }}" alt="Logo">
            <p class="developer-info">Developed by Arnold and Malcolm</p>
        </div>
    </footer>
    

    <script>
        function predictPrice(crypto) {
            $.ajax({
                type: 'POST',
                url: '/',
                data: { crypto: crypto }, // Pass the selected 'crypto' value
                success: function (response) {
                    updateGraph(response, crypto); // Call updateGraph with the response and crypto identifier
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }
    
        function updateGraph(predictedPrices, crypto) {
    // Extract days and prices from the received data
    let days = Object.keys(predictedPrices).map(Number); // Convert keys to numbers
    let prices = Object.values(predictedPrices);

    // Get the last price of the period
    let lastPrice = prices[prices.length - 1];

    let predictedPriceElement = document.getElementById(`predicted-price-${crypto.toLowerCase()}`);
    predictedPriceElement.textContent = `Last Price of Period: $${lastPrice.toFixed(2)}`;

    // Sort days to ensure correct ordering on the graph
    days.sort((a, b) => a - b);

    let trace = {
        x: days,
        y: prices,
        type: 'scatter',
        mode: 'lines',
        name: 'Price Prediction'
    };

    let data = [trace];

    let layout = {
    title: `${crypto} Price Prediction`,
    xaxis: {
        title: 'Days'
    },
    yaxis: {
        title: 'Price',
        range: [Math.min(...prices) * 0.95, Math.max(...prices) * 1.05] // Adjust the scale here
    }
    };


    let graphContainerId = `graph-container-${crypto.toLowerCase()}`;
    Plotly.newPlot(graphContainerId, data, layout);
}

    </script>
</body>

</html>
